.table {
    text-align: center;
    width: 90%;
    margin: 60px;
    background-color: #28363d;
}

.table .tableHeading{
    background-color:#F79256;
    color: #fff;;
}
.table td{
    text-align: center;
    color: #fff;
}
.table Button{
    background-color: #f6d55c;
    border: transparent;
    cursor: pointer;
    margin: 2px;
}
.table Button:hover{
    background-color: #ffffff;
}